'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Settings View'
      'submenu': [
        { 'label': 'Change Themes', 'command': 'settings-view:change-themes' }
        { 'label': 'Install Themes', 'command': 'settings-view:install-themes' }
        { 'label': 'Uninstall Themes', 'command': 'settings-view:uninstall-themes' }
        { 'label': 'Install Packages', 'command': 'settings-view:install-packages' }
        { 'label': 'Uninstall Packages', 'command': 'settings-view:uninstall-packages' }
      ]
    ]
  }
]
