@import "octicon-mixins";
@import "ui-variables";

.settings-view {
  @menu-width: 150px;

  display: -webkit-flex;

  .btn-default,
  .btn-group > .btn-default {
    background: #fff;
    color: #333;
    border: 1px solid #ccc;

    &:hover {
      color: #333;
      background: #ddd;
    }
  }

  section .section-heading:first-child,
  .section .section-heading:first-child {
    padding-top: @component-padding;
    padding-bottom: @component-padding;
    border-bottom: 1px solid #858585;
    color: #262626;
  }

  .link {
    color: #428bca;

    &:hover, &:focus {
      color: #2a6496;
    }
  }

  .config-menu {
    .atom-banner {
      margin-left: 20px;
      margin-right: 20px;
      min-height: 86px;
      background-size: contain;
      background-position: center center;
      background-image: url(atom://settings-view/images/atom.png);
      background-repeat: no-repeat;
    }

    display: -webkit-flex;
    -webkit-flex-direction: column;
    box-shadow: -1px 0px 1px -1px #aeaeae inset;
    background-color: #e7e7e7;

    .panels-menu {
      -webkit-flex-grow: 1;
      overflow: auto;
      height: 0;

      .panel-menu-separator {
        border-bottom: 1px solid #ccc;
        margin: @component-padding;
      }
    }

    .button-area {
      margin: @component-padding auto;
    }

    .nav > li > a {
      border-radius: 0;
      color: #434343;
    }

    .nav > li.active > a {
      background-color: #3c76dd;
      color: #f0f0f0;
    }
  }

  .panels {
    -webkit-flex: 1;
    -webkit-flex-flow: column;
    display: -webkit-flex;
    position: relative;
    overflow-y: auto;
    padding-left: @component-padding*2;
    background-color: #f2f2f2;

    > div {
      -webkit-flex: 1;
    }
  }

  .settings-panel {
    .section-body {
      padding-top: @component-padding/2;
      padding-left: @component-padding;
    }

    .editor-container {
      margin-bottom: @component-padding;

      .editor.mini {
        color: #333;
        background-color: #fff;

        .cursor {
          border-color: #000;
        }

        .selection .region {
          background-color: rgba(0, 0, 0, .2);
        }
      }
    }

    label {
      color: #333;
    }

    padding-bottom: @component-padding;
  }

  .package-panel {
    .title {
      color: #333;
    }

    .description,
    .startup-time {
      color: #666;
    }

    .package-keymap-table {
      padding-top: @component-padding;
      padding-left: @component-padding;
      color: #333;
    }
  }

  .packages {
    height: 100%;
    display: -webkit-flex;
    -webkit-flex-flow: column;

    .text {
      color: #333;
    }

    .themes-label {
      color: #333;
      min-width: 110px;
      float: left;
      font-weight: bold;
    }

    .theme-chooser {
      padding-top: @component-padding*2;
    }

    .theme-description {
      margin-top: 5px;
      padding-bottom: @component-padding;
    }

    .package-container {
      padding-top: @component-padding;
    }

    .package-view {
      .thumbnail {
        height: 150px;
      }

      p {
        min-height: 40px;
        max-height: 40px;
        overflow: hidden;
      }

      .package-status {
        position: absolute;
        right: 15px;
        top: 5px;

        &.icon-cloud-download {
          color: #428bca;
        }

        &.icon-check {
          color: #6CC644;
        }

        &.icon-alert {
          color: #BD2C00;
        }
      }
    }
  }

  .btn-retry {
    margin-left: @component-padding;
  }

  .readme {
    margin-top: @component-padding;
  }

  .panel-heading .label {
    margin-left: @component-padding;
  }

  .loading-area {
    span {
      &:before {
        font-size: 1.1em;
        width: 1.1em;
        height: 1.1em;
      }
    }
  }

  .error-view {
    margin: @component-padding 0 @component-padding 0;
  }

  .packages-panel {
    .nav {
      .badge {
        margin-left: @component-icon-padding;
      }
    }
  }

  .copy-icon {
    cursor: pointer;

    &:hover {
      color: #2a6496;
    }
  }

  .keybinding-panel {
    color: #333;

    .section-heading {
      margin-bottom: @component-padding;
    }

    .editor-container {
      margin-bottom: @component-padding;

      .editor.mini {
        color: #333;
        background-color: #fff;

        .cursor {
          border-color: #000;
        }

        .selection .region {
          background-color: rgba(0, 0, 0, .2);
        }
      }
    }

    table {
      width: 100%;
      table-layout: fixed;
    }
    th {
      padding: @component-padding - 2px @component-padding;
      padding-left: 0;
    }
    td {
      height: @component-line-height;
    }
    td, th {
      padding-left: 1%;
      padding-right: 1%;
      white-space: nowrap;
      overflow: hidden;
    }
    col.keystroke {
      width: (15% - 2%);
    }
    col.command {
      width: (40% - 2%);
    }
    col.source {
      width: (10% - 2%);
    }
    col.selector {
      width: (35%  - 2%);
    }
  }
}
