@import "octicon-mixins";
@import "ui-variables";

#settings-view {
  @menu-width: 150px;

  display: -webkit-flex;

  #config-menu {
    display: -webkit-flex;
    -webkit-flex-direction: column;
    padding-left: @component-padding;
    padding-top: @component-padding;
    padding-bottom: @component-padding;

    #panels-menu {
      width: @menu-width;
      -webkit-flex-grow: 1;
    }

    #open-dot-atom {
      width: @menu-width;
    }
  }

  #panels {
    -webkit-flex: 1;
    -webkit-flex-flow: column;
    display: -webkit-flex;
    position: relative;
    overflow-y: auto;

    > div {
      -webkit-flex: 1;
    }
  }

  #general-panel {
    section:last-child {
      padding-bottom: @component-padding;
    }
  }

  #themes-config {
    height: 100%;
    display: -webkit-flex;
    -webkit-flex-flow: column;

    #theme-picker {
      -webkit-flex: 1;
      display: -webkit-flex;
      min-height: 0;

      .panel {
        -webkit-flex: 1;
        display: -webkit-flex;
        -webkit-flex-flow: column;
        min-height: 0;
        &:first-child { margin-right: @component-padding / 2; }
        &:last-child { margin-left: @component-padding / 2; }

        .panel-heading {
          border-radius: @component-border-radius @component-border-radius 0 0;
        }

        ol {
          margin-top: 0;
          -webkit-flex: 1;
          min-height: 0;
          overflow: auto;

          li {
            -webkit-user-select: none;
            cursor: default;
          }
        }
      }

      a.disable-theme { display: none; }
      #enabled-themes {
        li:hover {
          a.disable-theme { display: block; }
        }
      }
    }

    li.ui-draggable-dragging, li.ui-sortable-helper {
      a.disable-theme { display: none !important; }
    }
  }

  #packages {
    white-space: nowrap;
    .package-enabled {
      width: 30px;
      text-align: center;
    }
  }

  .btn-retry {
    margin-left: @component-padding;
  }

  .readme {
    margin-top: @component-padding;
  }

  .panel-heading .label {
    margin-left: @component-padding;
  }

  .loading-area {
    span {
      &:before {
        font-size: 1.1em;
        width: 1.1em;
        height: 1.1em;
      }
    }
  }

  .error-view {
    margin: @component-padding 0 @component-padding 0;
  }

  .package-panel {
    .nav {
      .badge {
        margin-left: @component-icon-padding;
      }
    }
  }

  .keybinding-panel {
    label {
      float: left;
      padding-top: 4px;
      padding-right: 10px;
    }
    table {
      width: 100%;
      table-layout: fixed;
    }
    th {
      height: 34px;

      font-weight: normal;

      border-top: 1px solid fadein(@background-color-highlight, 10%);
      padding: @component-padding - 2px @component-padding;
      padding-left: 0;

      background-color: transparent;
      background-image: -webkit-linear-gradient(@panel-heading-background-color, darken(@panel-heading-background-color, 10%));
    }
    td {
      height: @component-line-height;
    }
    td,th {
      padding-left: 1%;
      padding-right: 1%;
      white-space: nowrap;
      overflow: hidden;
    }
    col.keystroke {
      width: (15% - 2%);
    }
    col.command {
      width: (40% - 2%);
    }
    col.source {
      width: (10% - 2%);
    }
    col.selector {
      width: (35%  - 2%);
    }
    td.keystroke, td.command, td.source {
      border-right: solid 1px @base-border-color;
    }
  }
}
